<div class="row">
  <div class="col-md-8">
    <h2>Brian Griffey</h2>
      <h5>
        Android developer. I've worked for places like Evernote, Skitch, and ShopSavvy.
      </h5>

        <div class="links briantext">
        	<a href="http://www.github.com/briangriffey">Github</a><br/>
        	<a href="http://www.twitter.com/briangriffey">Twitter</a><br/>
        	<a href="https://play.google.com/store/apps/details?id=com.evernote.skitch">Skitch</a><br/>
			    <a href="https://play.google.com/store/apps/details?id=com.simpledesktops">Simple Desktops</a><br/>
        	<a href="https://play.google.com/store/apps/details?id=com.biggu.shopsavvy">ShopSavvy</a><br/>
        	<a href="https://play.google.com/store/apps/details?id=com.briangriffey.campfire">Bonfire</a><br/>
        	<a href="https://play.google.com/store/apps/details?id=com.briangriffey.dribbble">Talent Scout</a><br/>
        </div>

  </div>
</div>
